# System files
**/.DS_Store

# Pycharm files
**/__pycache__/
**/.idea/

# Jupyter files
**/.ipynb_checkpoints/

# gitkeep
!**/*.gitkeep

# C sharp
game/Folder.DotSettings.user
game/bin/**
game/obj/**
